#node-modules
/2.backend-development/3.challenge-find-hat/node_modules
#solution
/2.backend-development/3.challenge-find-hat/solution
/2.backend-development/3.challenge-find-hat/find-your-hat-solution.zip
# quotes api
/2.backend-development/7.express-js/5.project/node_modules
/2.backend-development/7.express-js/5.project/quote-api-starting.zip
# boss machine
/2.backend-development/7.express-js/7.project-boss-machine/project-4-boss-machine-start.zip
/2.backend-developement/7.express-js/7.project-boss-machine/node_modules
/2.backend-developement/7.express-js/7.project-boss-machine/solution