#node-modules
be-career-path/2.backend-development/3.challenge-find-hat/node_modules
#solution
be-career-path/2.backend-development/3.challenge-find-hat/solution
be-career-path/2.backend-development/3.challenge-find-hat/find-your-hat-solution.zip
# quotes api
be-career-path/2.backend-development/7.express-js/5.project/node_modules
be-career-path/2.backend-development/7.express-js/5.project/quote-api-starting.zip
# boss machine
be-career-path/2.backend-development/7.express-js/7.project-boss-machine/project-4-boss-machine-start.zip
be-career-path/2.backend-developement/7.express-js/7.project-boss-machine/node_modules
be-career-path/2.backend-developement/7.express-js/7.project-boss-machine/solution
# working with database off platform project
be-career-path/3.advanced-be-dev/2.working-with-database/3.project_baseball_data/readme.txt
be-career-path/3.advanced-be-dev/2.working-with-database/3.project_baseball_data/baseball_database.sql